
{% extends 'base.html' %}

{% block title %}A Compliment{% endblock %}


{% block content %}
    <p>Would you like to play a game?</p>
    <form action="/game">
        <input type="radio" name="game" value="yes">YES
        <input type="radio" name="game" value="no">NO
        <input type="submit">
    </form><br>

    Hi {{ person }}! I think you're so:
    <ul>
        {% for compliment in compliments %}
            <li>
                {{compliment}}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

