
{% extends 'base.html' %}

{% block title %}Game{% endblock %}
    
{% block content %}
<form action="/madlib">
    <div class="test">
        Person Name: 
        <input type="text" name="name"><br><br>
        <input type="radio" name="color" value="red">RED
        <input type="radio" name="color" value="blue">BLUE
        <input type="radio" name="color" value="green">GREEN
        <input type="radio" name="color" value="pink">PINK
        <br><br>
    </div>
    Noun: 
    <select name="noun">
        <option value="book">BOOK</option>
        <option value="laptop">LAPTOP</option>
        <option value="cat">CAT</option>
        <option value="tree">TREE</option>
    </select><br><br>
    Adjective: 
    <input type="checkbox" name="adjective" value="nice">NICE
    <input type="checkbox" name="adjective" value="tall">TALL
    <input type="checkbox" name="adjective" value="cold">COLD
    <input type="checkbox" name="adjective" value="sweet">SWEET
    <br><br>
    Verbs:
    <select name="verb">
        <option value="sit">SIT</option>
        <option value="swim">SWIM</option>
        <option value="run">RUN</option>
        <option value="dance">DANCE</option>
    </select><br><br>
    <input type="submit">

</form>
{% endblock %}
